{% extends 'layout/base.html' %} {% block title %} {{category.name}}
<!---->
{% endblock%} {% block content %}
<!-- Heading -->

<div id="heading">
  <h1>Magazine</h1>
</div>
<!-- Main -->
<section id="main" class="wrapper">
  <div class="inner">
    <div class="content">
      <h2><a href="{% url 'categorias' category.id %}"
        >{{category.name}}</a></h2>
      <!--Como Categories tiene en el modelo una relación ManytoMany tiene una relación inversa con articulos-->
      <!--y al usar _set.all  para que devuelva todos los artículos-->
      {%include 'magazine/articles/arts.html' with articles=category.articulos.all %}
      <!-- Esta es otra opción despues de añadir relatied_ en model de Category -->

      <p>{{category.description}}</p>
    </div>
  </div>
</section>
{% endblock %}
